extends ../ui_layout

block content
  .computer.only.tablet.only.eight.wide.column
    img.ui.fluid.image(src=process.env.SITE_PICTURE)
  .eight.wide.computer.eight.wide.tablet.sixteen.wide.mobile.column
    .ui.card.fluid(style="padding: 20px; margin-top: 90px;")
      h2.ui.header 注冊
      form.ui.form(id='signup-form', action=(process.env.POST_SURVEY_WITH_QUALTRICS ? `/signup?r_id=${r_id}`: '/signup'), method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .field
          label(for='username') 昵稱
          input(type='text', name='username', id='username', placeholder='昵稱', autofocus, required)
        .field
          label(for='mturkID') !{process.env.IDENTIFIER}
          input(type='text', name='mturkID', id='mturkID', placeholder=process.env.IDENTIFIER, required)
        .field
          label(for='email') 電子郵箱（用于登錄賬號）
          input(type='email', name='email', id='email', placeholder='電子郵箱', required)
        .field
          label(for='password') 密碼（請務必牢記你的密碼）
          input(type='password', name='password', id='password', placeholder='密碼', minlength="4", required)
        .field
          label(for='confirmPassword') 確認密碼（請務必牢記你的密碼） 
          input(type='password', name='confirmPassword', id='confirmPassword', placeholder='確認密碼', minlength="4", required)
          span(style="color: green; visibility:hidden; display: inline-block;")#passwordsMatch  
            i.icon.check 
            | Passwords Match
        .field
          .ui.checkbox
            input(type='checkbox', name='tos', tabindex="0", id='tos', required)
            label(for='tos')
              | 我已閱讀並同意 
              a(href='/tos', target="_blank") 知情同意書、條款和政策.
        button.ui.large.button(type='submit') 注冊

block scripts
  script(src='/public/js/profile.js')
