extends ui_layout

block styles
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')
  
block content
  .computer.only.tablet.only.four.wide.column
    .ui.card
      .image
        img(src='/public/picture.svg', data-src=cdn+'/profile_pictures/'+actor.profile.picture)
      .content
        a.header= actor.profile.name
        .meta="@"+actor.username
        .description(style='white-space: pre-wrap')=actor.profile.bio
        .description(style="margin-top: 5px;")
          if actor.profile.location
            i.marker.icon
            span=actor.profile.location
        .ui.basic.primary.follow.button(style=" margin-top: 15px", actor_un = actor.username)
          if user.followed.includes(actor.username)
            i.check.icon 
            | Following
          else 
            | Follow
      .two.ui.bottom.attached.icon.buttons
        button.ui.button.block(data-tooltip='屏蔽用戶', data-position='bottom left', username=actor.username)
          i.ban.icon
        button.ui.button.report(data-tooltip='舉報用戶', data-position='bottom right', username=actor.username)
          i.flag.icon

  #loading.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column
    img.ui.centered.small.image(src='/public/heart.svg')
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column(style='display: none;')
    if (script.length==0)
      .ui.fluid.card
        .content
          .description
          |  暫無可展示的帖子
    each val in script
      include ./partials/actorPost
      
  .ui.small.report.coupled.modal
    i.close.icon
    .header 
      i.flag.icon 
      |  舉報該用戶
    .content
      form#reportform.ui.reply.form(action='/user', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='reported', value=actor.username)
        .ui.form.large
          .grouped.fields
            label(for='report_issue') 幫助我們理解問題所在。這個賬戶有什麽問題？
            .field
              .ui.radio.checkbox
                input.hidden(type='radio', name='report_issue', value="interested", tabindex='0')
                label 我對這個賬戶不感興趣。
            .field
              .ui.radio.checkbox
                input.hidden(type='radio', name='report_issue', value="spam",tabindex='0')
                label 這個賬戶發布的是垃圾信息。
            .field
              .ui.radio.checkbox
                input.hidden(type='radio', name='report_issue', value="bully", tabindex='0')
                label 這個賬戶正在進行惡意或有害的行爲。
            .field
              .ui.radio.checkbox
                input.hidden(type='radio', name='report_issue', value="hacked", tabindex='0')
                label 這個賬戶可能被黑客入侵了。          
    .actions
      input.ui.green.button.disabled(type='submit', value='提交', form='reportform')
  .ui.small.second.coupled.modal
    .header
      | 您的舉報已提交！
    .content
      .description
        p 此用戶已被舉報給管理員。感謝您爲社區提供的幫助！
    .actions
      .ui.approve.green.button
        i.checkmark.icon
        | 繼續
  .ui.small.basic.blocked.modal
    .ui.icon.header
      i.ban.icon
      | 您已屏蔽此用戶
    .content
      p 您將不再看到此用戶的帖子或評論。您可以選擇舉報此用戶或取消屏蔽。 
    .actions
      .ui.left.floated.red.inverted.button
        i.flag.icon
        | 舉報用戶
      .ui.home.inverted.button
        i.home.icon
        | 返回首頁
      .ui.green.ok.inverted.button
        i.undo.icon
        | 取消屏蔽
  .computer.only.tablet.only.four.wide.column 
                     
block scripts
  script().
    let numComments = !{JSON.stringify(user.numComments)};
    let isBlocked = !{JSON.stringify(isBlocked)};
    let isReported = !{JSON.stringify(isReported)};
  script(src='/public/js/actor.js')
  script(src='/public/js/postFunctionalities.js')
